.contact-parent {
  margin-top: 12rem;
  color: #dddddd;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Resume {
  text-decoration: none;
  color: #4392f1;
  font-size: 3rem;
}

.new_tab_icon {
  margin-left: 0.5rem;
}
