.grid-container {
  margin: 0rem 0rem 12rem 8rem;
}
.projects-header {
  font-size: 2.375em;
  font-weight: 700;
  color: #dddddd;
  letter-spacing: 0.25px;
  margin-bottom: 2rem;
  border-bottom: 5px solid #4392f1; /* You can adjust the color and thickness */
  display: inline-block;
}
@media (max-width: 1000px) {
  .grid-container {
    margin: 0rem;
    display: flex;
    justify-content: center;
    /* background-color: black; */
  }
  .new-container {
    margin: 0rem 3rem 0rem 3rem;
    max-width: 700px;
    /* background-color: yellow; */
  }
}

@media (max-width: 400px) {
  .projects-header {
    font-size: 2rem;
  }
}
